/*Document styling*/

/*Body targeted to maintain colour consistency throughout website:*/
		body{
			background-color:rgba(243,249,251,0.6);
		}

.centered_content{
	padding: 0 150px;
}

/*Navbar*/
		nav {
		    background-color: #00147D;
		    text-decoration-color: white
		}

		.nav-item{
			padding-right: 10px;
		}

		.mr-auto, .mx-auto {
			margin-left: auto!important;
		}


		.navbar-brand:hover{
			opacity:0.8;
		}

		.container{
			padding: 10px
			margin: 10px;
		}
		
		.btn_btn-danger{
			box-shadow: 5px;
			font-size: 50px;
			box-shadow: 0 10px 16px 0 rgba(0,0,0,0.1)!important;
		}

		.whiteh1 {
			text-decoration: white;
		}

		.textfade {opacity: 0.4;}

		.btn-outline-light {
			border-color: transparent;
		}

		.loginbutton:hover{
			background-color: none;
		}


		.createaccountbutton{
			font-size: 13px;
		}


/*Header*/

		header{
			background-color: #00147D;
			z-index: -1;
			padding: 100px 0;
			max-width: auto;
		}

		.main-header {
			text-align: center;
		}

		.headertext{
			color: white;
			font-size: 48px;
			padding-bottom: 0px;
		}

		.subheadertext{
			margin-top: 7px;
			color:white;
			opacity: 0.4;
			font-size: 25px;
			font-family: 'Rajdhani', sans-serif;
		}

		.border{
		    position:relative;
		}


		.sect1 {
			color: white;
			background-color: #00147D;
			padding: 3px;
			font-size: 20px;
			text-align:center;
		}


		.small-hex1{
			-webkit-clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
		   clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
		   width: 35px;
		   height: 35px;
		   padding: 2px 11px;
		   color: #fff;
		   background-size: 30%;
		   box-shadow: 0 10px 16px 0 rgba(0,0,0,0.1)!important; /*???*/
		   font-size: 20px
		/*   z-index: 1;*/
		}

		.mainimg{
			height: 300px;
		    vertical-align: middle;
		    padding-left: 100px;
		}

		.box {
			padding: 44px 44px;
			background-color: white;
			text-align: center;
			border-radius: 10px;
			box-shadow: 0 10px 16px 0 rgba(0,0,0,0.1)!important;
			margin-bottom: 50px;
			z-index: 1;
		}

		.margin-top--40 {
			margin-top: -40px;
		}

		.s1list {
			list-style-type: none; 
			font-size: 16px;
		  	margin-bottom: 1em; 
		  	padding: 0.25em 0 0 2.5em;
		  	position: relative; 
		  	opacity: 0.4;
		  	margin-left: -5px;
		  	margin-right: 200px;
		}

		.listtext {
			padding: 10px
		}

		.No{
			opacity: 0.8;
		}

		.sect1img{
			padding: 0px 200px 0px 0px;
			height: 150px;
		    vertical-align: middle;
		    transform: rotate(-45deg);
		}

		.img1{
			 -webkit-clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
		  	clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
		  	width: 400px;
		  	height: 400px;
		  	padding: 50px 30px; 
		  	background-size: 30%;
		  	margin: -40px auto;
		  	background: #00147D;
		  	transform: rotate(45deg);
		  	text-align:center;
		  	margin-top: 30px;
	
		}

		.getstartedbutton{
			background-color: rgb(203,0,103);
    		margin-right: 24px;
    		padding: 8px 36px;
    		font-size: 12px;
    		box-shadow: 1px auto;
    		box-shadow: 0 10px 16px 0 rgba(0,0,0,0.1)!important;
		}

		.getstartedbutton:hover{
			color:rgb(203,0,103);
			background-color: white;
		}

		.contactusbutton{
			padding: 8px 36px;
			font-size: 12px;
			border: 2px solid white;
		}

		.fa-check-circle{
			color: #00147D
		}

/*Section 2*/


		.sec2 {
			color: white;
			background-color: #ff0066;
			padding: 10px;
			font-size: 20px;
			text-align:center;
		}

		.small-hex2{
			-webkit-clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
		   	clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
		    width: 35px;
		    height: 35px;
		    padding: 2px 11px;
		   	color: #fff;
		   	background-size: 30%;
		   	margin: 10px auto;
		   	font-size:20px;
		}

		.smorebutton{
			margin-left: 477px;
			/*(Button didn't center under conventional methods)*/
			padding: 8px 36px;
			font-size: 12px;
			background-color: rgb(203,0,103);
			
		}

		.smorebutton:hover{
			color:rgb(203,0,103);
			background-color: white;
		}

		.carousel{
			height: 50%;
    		width: 50%;
    		text-align: center;
    		padding: 40px;
		}

		/*Code modified from stack overflow*/
/*-------------------------------------------------------*/

		ol.carousel-indicators {
		   position: absolute;
		   bottom: 5px;
		   margin: 0;
		   left: 0;
		   right: 0;
		   width: auto;
		}

		ol.carousel-indicators li,
		ol.carousel-indicators li.active {
		   width: 10px;
		   height: 10px;
		   margin: 10px;
		   border-radius: 50%;
		   border: 0;
		   background: rgb(203,0,103);
		}

		ol.carousel-indicators li {
		   background: rgb(203,0,103);
		   margin-left: 10px;
		   margin-right: 10px;
		   opacity: 0.4;
		}

		ol.carousel-indicators li.active {
		   background: rgb(203,0,103);
		   
		}
/*-------------------------------------------------------*/

        /*.carouselindicators{
        	border-radius: 0;
        	background-color: red;
        }*/

/*Section 3*/


		.main-header{
			position: center;
		}

		.hextext{
			  transform: none;
		}

		.section1{
			text-decoration-color: white;
		}

		.sect3{
			color: white;
			background-color: rgb(40,179,255);
			padding: 3px;
			font-size: 20px;
			text-align:center;
		}

		.sect3hexttext{
			transform: rotate(-50deg);

		}

		.small-hex3{
			-webkit-clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
		   	clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
		    width: 35px;
		    height: 35px;
		    padding: 2px 11px;
		   	color: #fff;
		   	background-size: 30%;
		   	margin: 10px auto;
		   	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.1)!important; /*???*/
		   	font-size:20px;
		   	margin-right: 130px;
		}

		.box_bg-gre{
			height: 90px;
			width: 300px;
			border: 25px solid green;
		  	padding: 25px;
		  	margin: 25px;
			background-color: white;
		}

		.smallimgs {
			height: 90px;
			vertical-align: middle;
		}

		.stext {
			font-size: 25px;
		}
		 
		.smalltxt {
			opacity: 0.4;
			margin-top:-10px;
		}

		.ethex {
		    -webkit-clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
		  	clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
		  	width: 280px;
		  	height: 280px;
		  	padding: 50px 30px; 
		  	background-size: 30%;
		  	margin: -40px auto;
		  	background: white;
		  	position: absolute;
		  	z-index: 1;
		  	transform: rotate(50deg);
		  	box-shadow: 0 10px 16px 0 black!important;
		  	text-align:center;
		}
  

		.icons {
			opacity: 0.5;
			padding-bottom: 50px;
		}

		.submit:hover{
			background-color: #52c924;
		}

		.homeimg {
			max-width:100px; 
			margin-top: -7px;
			height: 90px;
			vertical-align: middle;
		}

		.section3 {
			padding: 100px 0;
		}

		.smicons {
			padding-left: 100px;
		}


/*Footer*/

		.hexbackground{
			-webkit-clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
		   	clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
			background-size: 500px;
			background-color: #00147D;
			z-index: -1;
			padding: 250px 0;
			max-width: auto;
		}

		.sect4 {
			color: white;
			background-color: #f4e542;
			padding: 10px;
			font-size: 25px;
			text-align:center;
			padding: 1px;
			padding-bottom: 25px;
			padding-right: 5px;
		}

		.small-hex4{
			-webkit-clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
		   	clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
		    width: 35px;
		    height: 35px;
		    padding: 2px 11px;
		   	color: #fff;
		   	background-size: 30%;
		   	margin: 10px auto;
		   	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.1)!important; /*???*/
		   	font-size:20px;
		}

		.col-5 {
			margin-left: 500px;
		}

		.submit {
			margin-left: 500px;
			box-shadow: 0 10px 16px 0 rgba(0,0,0,0.1)!important;
			padding: 8px 36px;
			font-size: 12px; 
		}

		.submit:hover{
			background-color:white;
			color:green;
		}

		.gototop {
			padding: 50px;}

		.bottomfooter{
			position: absolute;
			padding-top:25px;
		}
		.flex {
			display: flex;
		}
		.mx-auto{
			margin-right: auto;
			margin-left: auto;
		}
		.w-full{
			width: 100%;
		}

















